
body {
  margin: 0;
  font-family: Arial, sans-serif;
  }
nav.navbar {
  background-color: #011f20;
  color: rgb(224, 198, 6);
  padding: 10px;
  }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  }
nav ul li {
  position: relative;
  }
nav ul li a {
  text-decoration: bold;
  color: rgb(247, 4, 4);
  padding: 10px 15px;
  display: block;
  }
  nav ul li:hover a {
  background-color: #917c06;
  }
   
body {
  font-family: Arial, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #0840fa;
}

html, body {
  height: 100%; 
  overflow: hidden; 
}

.dark-band {
  display: none; 
}

header {
  background-color: #01131e;
  color: rgb(31, 5, 227);
  padding: 1rem;
  text-align: center;
}

footer {
  background: #01131e;
  color: rgb(244, 245, 251);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: 0;
  position: absolute;
  height: auto;
  bottom: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-left {
  flex: 1;
}

.header-right {
  flex: 1;
  text-align: center; 
}

.profile-pic {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  display: block;
  margin: 0 auto; 
}

.linkedin-link {
  display: block; 
  margin-top: 10px; 
  font-size: 16px;
  color: #e70cdc; 
  text-decoration: none;
}

.linkedin-link:hover {
  text-decoration: underline;
}
#contacts {
  padding: 20px;
  background-color: #292b2d;
  text-align: left;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin: 10px 0;
}

.contact-link {
  color: #410239;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

#home {
  background-color: transparent;  
  background-image: url('images/home.png'); 
  background-size: cover;
  color: #03d7f7;
  padding: 20px; 
  height: 100vh;
}
#home h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-align: center;
}
#home p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

#projects {
  background-color: transparent;  
  background-image: url('images/github.png'); 
  background-size: cover;
  color: #08cef6; 
  padding: 20px; 
  height: 100vh;
}
#projects h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-align: center;
}
#projects p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

#about {
  background-color: transparent;  
  background-image: url('images/about.jpg'); 
  background-size: cover;
  color: #24a4ee; 
  padding: 20px; 
  height: 100vh;
}
#about h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-align: center;
}
#about p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

#contact {
  background-color: transparent;  
  background-image: url('images/contact.jpg'); 
  background-size: cover;
  color: #3e89f1; 
  padding: 20px; 
  height: 100vh;
}
#contact h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-align: center;
}
#contact p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

body {
  min-height: 100vh; /* Ensures the body height covers the viewport but expands with content */
}